@page "/"
<div>
<h1>Peliculas</h1>
</div>
<div class="row row-cols-1-md-3 g-4 mb-3">
    <div class="col">
        <div class="card mb-3 h-100" style="width: 18rem;">
            <img src="/Images/darth.jpg" class="card-img-top" alt="..." width="20" height="400">
            <div class="card-body">
                <h5 class="card-title">@movie1</h5>
                <p class="card-text">Sinopsis</p>
                <a href="#" class="btn btn-primary">Ver pelicula</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3 h-100" style="width: 18rem;">
            <img src="/Images/marvel.jpg" class="card-img-top" alt="..." width="20" height="400">
            <div class="card-body">
                <h5 class="card-title">@movie2</h5>
                <p class="card-text">Sinopsis</p>
                <a href="#" class="btn btn-primary">Ver pelicula</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3 h-100" style="width: 18rem;">
            <img src="/Images/spiderman.jpg" class="card-img-top" alt="..." width="20" height="400">
            <div class="card-body">
                <h5 class="card-title">@movie3</h5>
                <p class="card-text">Sinopsis</p>
                <a href="#" class="btn btn-primary">Ver pelicula</a>
            </div>
        </div>
    </div>    
</div>
<div class="mb-3">
    <input class="form-control form-control-sm" type="text" placeholder="Pelicula">
</div>
<div class="mb-3">
    <input class="form-control form-control-sm" type="text" placeholder="Genero">
</div>
<div class="mb-3">
    <input type="file" name="" id="" class="form-control">
</div>



<div>
    <label class="form-label">Pelicula 1 @function_convert_mayusc(movie1)</label>
    <br>
    <label class="form-label">Pelicula 2 @function_convert_mayusc(movie2)</label>
</div>
<div>
    <button class="btn btn-info" @onclick="@click_event_button">Da click</button>
    <button class="btn btn-info" @onclick="@click_event_cancel">Cancelar</button>
</div>
@code {
    public string movie1 = "Star wars";
    public string movie2 = "Avengers";
    public string movie3 = "Spiderman";
    @* Funciones flecha estructura: variable(parametros) => instrucciones; *@
    public string function_convert_mayusc(string value) => value.ToUpper();
    public string function_convert_minusc(string value) => value.ToLower();

    @* Crear métodos *@
    public void click_event_button()
    {
        Console.WriteLine("Has dado click en el botón");
    }
    public void click_event_cancel()
    {
        Console.WriteLine("Cancelaste el proceso");
    }
}
<h5>Nombre del ciclo</h5> @*  @ciclo.ToUpper() *@
<br>
<div class="container section">
    <form>
        @* Primera fila, contiene 1 imput de texto*@
        <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Nombre</label>
            <input type="text" name="name" id="name" class="form-control">
        </div>
        @* Segunda fila, contiene 2 imput, uno recibe texto y otro números*@
        <div class="form-group row">
            <div class="col">
                <label for="ciclo" class="col-md-2 col-form-label">Ciclo</label>
                <input type="text" name="ciclo" id="ciclo" class="form-control">
            </div>
            <div class="col">
                <label for="num_ciclo" class="col-md-2 col-form-label">Numero</label>
                <input type="number" name="num_ciclo" id="ciclo" class="form-control">
            </div>
        </div>
        @* Tercer fila contiene un textarea*@
        <div class="form-group row">
            <label for="message" class="col-md-2 col-form-label">Comentarios</label>
            <div class="col-md-10">
                <textarea name="message" id="message" cols="30" rows="10" placeholder="Aqui van tus comentarios" class="form-control">
                </textarea>
            </div>
        </div>
        <div class="button-group">
            <button class="btn btn-info" @onclick="@Confirmar">Aceptar</button>
        </div>
        @code {
            string ciclo = "Desarrollo de software";
            private void Confirmar(){
                Console.WriteLine("Acabas de dar click en el botón, evento capturado");
            }
        }
    </form>
</div>